<h3>Home</h3>
<% if user_signed_in? %>
<li>
	<p>
		User Profile: <%= link_to current_user.name, current_user %>
	</p>
	<div>
		<p>
			<b>Devices:</b>
		</p>
		<%unless @devices.nil?%>
		<%@devices.each do |device|%>
		<%= device.name%>
		<%end%>
		<%else%>
		No Devices
		<%end%>
	</div>
	<br />
	<div>
		<p>
			<b> Uploads: </b>
		</p>
		<%unless @uploads.nil?%>
		<%@uploads.each do |upload|%>
		Name: <%= upload.name%> | 
		Size:
		<%= upload.file_file_size%>
		<br />
		<%end%>
		<%else%>
		No Uploads
		<%end%>
	</div>
</li>
<% end %>
